:root {
    --bwhite: #F2EEE9;
    --mate: #E8DEC6;
    --hmate: #D4D0BB;
    --black: #282031;
    --grey: #24A68E;
    --hgrey: #125952;
    --highlight: #F2BF91;
    --shigh:#EFD550;
    --blue:#593a85;
    --mag: #06ABBA;
    --dhigh: #9B5506;
}