
    .cube-1{
        .front {
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: rgba(173, 216, 230, 0.767);
            
                transform: rotate(90deg);
                border-radius: 20px;

                svg {
                    transition: 0.5s ease;
                }
            }
            
        }
    
        .back {
            background-image: url(../../assets/back_cubes/cube_1.png);
            background-size: contain;
        }
        
        .right {
            background-image: url(../../assets/back_cubes/cube_1.png);
            background-size: contain;
        }
        
        .left {
            background-image: url(../../assets/back_cubes/cube_1.png);
            background-size: contain;

            
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
        
        .top {
            background-image: url(../../assets/back_cubes/cube_1.png);
            background-size: contain;

            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    transition: 0.5s ease;
                }
            }
        }
        
        .bottom {
            background-image: url(../../assets/back_cubes/cube_1.png);
            background-size: contain;
        }
    }
    
    
    .cube-2{
        
        .front {
            background-image: url(../../assets/back_cubes/cube_2.png);
            background-size: contain;

            
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
    
        .back {
            background-image: url(../../assets/back_cubes/cube_2.png);
            background-size: contain;
        }
        
        .right {
            background-image: url(../../assets/back_cubes/cube_2.png);
            background-size: contain;

            
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
        
        .left {
            background-image: url(../../assets/back_cubes/cube_2.png);
            background-size: contain;
            
        }
        
        .top {
            transition: background-image 0.5s ease;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #e8dec6c7;
            
                transform: rotate(90deg);
                border-radius: 20px;
                transition: 0.5s ease;
                svg {
                    transition: 0.5s ease;
                }
            }
        }
        
        .bottom {
            background-image: url(../../assets/back_cubes/cube_2.png);
            background-size: contain;

            
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
    }
    
    
    .cube-3{
        .front {
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #7b7fb1cc;
            
                transform: rotate(90deg);
                border-radius: 20px;

                svg {
                    transition: 0.5s ease;
                }
            }
        }
    
        .back {
            background-image: url(../../assets/back_cubes/cube_3.png);
            background-size: contain;
        }
        
        .right {
            background-image: url(../../assets/back_cubes/cube_3.png);
            background-size: contain;
            
            
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
        
        .left {
            background-image: url(../../assets/back_cubes/cube_3.png);
            background-size: contain;
        }
        
        .top {
            background-image: url(../../assets/back_cubes/cube_3.png);
            background-size: contain;
        }
        
        .bottom {
            background-image: url(../../assets/back_cubes/cube_3.png);
            background-size: contain;

            
            div {
                
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
    }
    
    .cube-4{
        .front {
            background-image: url(../../assets/back_cubes/cube_4.png);
            background-size: contain;
            
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
    
        .back {
            background-image: url(../../assets/back_cubes/cube_4.png);
            background-size: contain;
        }
        
        .right {
            background-image: url(../../assets/back_cubes/cube_4.png);
            background-size: contain;
        }
        
        .left {
            background-image: url(../../assets/back_cubes/cube_4.png);
            background-size: contain;
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
        
        .top {
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #a0fccfde;
            
                transform: rotate(90deg);
                border-radius: 20px;

                svg {
                    transition: 0.5s ease;
                }
            }
        }
        
        .bottom {
            background-image: url(../../assets/back_cubes/cube_4.png);
            background-size: contain;
        }
    }

    .cube-5{
        .front {
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #ffbc6bc9;
            
                transform: rotate(90deg);
                border-radius: 20px;

                svg {
                    transition: 0.5s ease;
                }
            }
        }

        .back {
            background-image: url(../../assets/back_cubes/cube_5.png);
            background-size: contain;
        }

        .right {
            background-image: url(../../assets/back_cubes/cube_5.png);
            background-size: contain;
        }

        .left {
            background-image: url(../../assets/back_cubes/cube_5.png);
            background-size: contain;

            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }

        .top {
            background-image: url(../../assets/back_cubes/cube_5.png);
            background-size: contain;

            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }

        .bottom {
            background-image: url(../../assets/back_cubes/cube_5.png);
            background-size: contain;
        }
    }

    .cube-6{
        .front {
            background-image: url(../../assets/back_cubes/cube_6.png);
            background-size: contain;

            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }

        .back {
            background-image: url(../../assets/back_cubes/cube_6.png);
            background-size: contain;
        }

        .right {
            background-image: url(../../assets/back_cubes/cube_6.png);
            background-size: contain;
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }

        .left {
            background-image: url(../../assets/back_cubes/cube_6.png);
            background-size: contain;
        }

        .top {
            transition: background-image 0.5s ease;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #fd6e60c2;
            
                transform: rotate(90deg);
                border-radius: 20px;
                transition: 0.5s ease;
                svg {
                    transition: 0.5s ease;
                }
            }
        }

        .bottom {
            background-image: url(../../assets/back_cubes/cube_6.png);
            background-size: contain;
            div {
                transition: 0.5s ease;
                svg {
                    display: none;
                    
                }
            }
        }
    }


    .cube-1:hover {
        .front {
            div {
                svg {
                    transform: rotate(-90deg);
                }
                
            }
            
        }

        .top {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: rgba(173, 216, 230, 0.767);
                border-radius: 20px;
                svg {
                   display: flex;
                }
                
            }
            
        }

        .left {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: rgba(173, 216, 230, 0.767);
                border-radius: 20px;
                svg {
                   display: flex;
                }
                
            }
            
        }
    }

    .cube-2:hover {

        .top{
            background-image: url(../../assets/back_cubes/cube_2.png);
            background-size: contain;
            div {
                display: none;
            }
        }
        
        .front {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #e8dec6c7;
                border-radius: 20px;

                svg {
                   display: flex;
                }
                
            }
        }

        .right {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #e8dec6c7;
                border-radius: 20px;

                svg {
                   display: flex;
                }
                
            }
        }

        .bottom {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #e8dec6c7;
                border-radius: 20px;

                svg {
                   display: flex;
                }
                
            }
        }



        
    }

    .cube-3:hover {

        .front {
            div {
                svg {
                    transform: rotate(-90deg);
                }
                
            }
        }

        .right{
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #7b7fb1cc;
                border-radius: 20px;

                svg {
                   display: flex;
                }
                
            }
        }

        .bottom {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #7b7fb1cc;
                border-radius: 20px;

                svg {
                   display: flex;
                }
                
            }
        }
    }


    .cube-4:hover {
        
        .left {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #a0fccfde;
                border-radius: 20px;
                svg {
                   display: flex;
                }
                
            }
        }

        .front {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #a0fccfde;
                border-radius: 20px;
                svg {
                   display: flex;
                }
                
            }
        }
    }


    .cube-5:hover {
        .front {
            div {
                svg {
                    transform: rotate(-90deg);
                }
                
            }
            
        }

        .top {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #ffbc6bc9;
                border-radius: 20px;
                svg {
                   display: flex;
                }
                
            }
            
        }

        .left {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #ffbc6bc9;
                border-radius: 20px;
                svg {
                   display: flex;
                }
                
            }
            
        }
    }

    .cube-6:hover {
        .top{
            background-image: url(../../assets/back_cubes/cube_2.png);
            background-size: contain;
            div {
                display: none;
            }
        }
        
        .front {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #fd6e60c2;
                border-radius: 20px;

                svg {
                   display: flex;
                }
                
            }
        }

        .right {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #fd6e60c2;
                border-radius: 20px;

                svg {
                   display: flex;
                }
                
            }
        }

        .bottom {
            background-image: none;
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
              
                background-color: #fd6e60c2;
                border-radius: 20px;

                svg {
                   display: flex;
                }
                
            }
        }
    }


            
