@font-face {
    font-family: 'antique';
    src: url(/fonts/antique_book_cover.otf);
}

@font-face {
    font-family: 'titania';
    src: url(/fonts/Titania-Regular.ttf);
}

@font-face {
    font-family: 'titania-outline';
    src: url(/fonts/Titania-Outline.ttf);
}

@font-face {
    font-family: 'titania-shadow';
    src: url(/fonts/Titania-Shadow.ttf);
}